<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" >

<body>
<div>
<nav class="navbar navbar-default">
		<div class="container-fluid">
		
			<div class="navbar-header">
      			<a class="navbar-brand" href="#">NIOUN / SYSTEME ECOLOGINOMIK</a>
    		</div>
    		
    		<ul class="nav navbar-nav">
    		
    			<li><a href="#">Home</a></li>
    		
    			<li class="dropdown">
          			
          			<a href="#" class="dropdown-toggle" 
          				data-toggle="dropdown" role="button" 
          				aria-expanded="false">Clients <span class="caret"></span></a>
          	
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="/pharmog/ajouterDaara">Créer</a></li>
            			<li><a href="/pharmog/toutDaaras">Visualiser</a></li>
            			<li><a href="/pharmog/ciblerDaara">Editer</a></li>
          			</ul>
          			
        		</li>
        		
    			<li class="dropdown">
          		
          			<a href="#" class="dropdown-toggle" 
          				data-toggle="dropdown" role="button" 
          				aria-expanded="false">Commandes <span class="caret"></span></a>
          		
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="/pharmog/ajouterCommande">Créer</a></li>
            			<li><a href="/pharmog/toutCommandes">Visualiser</a></li>
            			<li><a href="pharmog/ciblerCommande">Editer</a></li>
          			</ul>
        		
        		</li>
        		
        		<li class="dropdown">
          		
          			<a href="#" class="dropdown-toggle" 
          				data-toggle="dropdown" role="button" 
          				aria-expanded="false">Category<span class="caret"></span></a>
          		
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="/pharmog/ajouterCategory">Créer</a></li>
            			<li><a href="/pharmog/toutCategorys">Visualiser</a></li>
            			<li><a href="pharmog/ciblerCategory">Editer</a></li>
          			</ul>
        		
        		</li>
        		
        		<li class="dropdown">
          		
          			<a href="#" class="dropdown-toggle" 
          				data-toggle="dropdown" role="button" 
          				aria-expanded="false">Produits & Producteurs<span class="caret"></span></a>
          		
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="/pharmog/ajouterProduit">Ajouter Produit</a></li>
            			<li><a href="/pharmog/toutProduits">Voir Produit(s)</a></li>
            			<li><a href="/pharmog/ciblerProduit">Editer Produit(s)</a></li>
            			<li><a href="/pharmog/ajouterProducteur">Ajouter Producteur</a></li>
            			<li><a href="/pharmog/toutProducteurs">Profil  Producteur</a></li>
            			<li><a href="/pharmog/ciblerProducteur">Editer  Producteur</a></li>
          			</ul>
        		
        		</li>
        		
        		<li class="dropdown">
          		
          			<a href="#" class="dropdown-toggle" 
          				data-toggle="dropdown" role="button" 
          				aria-expanded="false">Roles & Utilisateurs<span class="caret"></span></a>
          		
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="/pharmog/ajouterUser">Ajouter Role</a></li>
            			<li><a href="/pharmog/toutUsers"/>Voir Role</a></li>
            			<li><a href="/pharmog/ciblerUser"/>Editer Role</a></li>
            			<li><a href="/pharmog/ajouterRole">Créer Utilisateur</a></li>
            			<li><a href="/toutRoles">Voir Utilisateur</a></li>
            			<li><a href="/pharmog/ciblerRole">Editer Utilisateur </a></li>
          			</ul>
        		
        		</li>
    		</ul>
    		
		</div>
</nav>
</div>
</body>
</html>