<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" >
<header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
 integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 
</header>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">POLITICONE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    
    		
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lieux
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/politicone/showCreatePays">Créer Pays</a>
          <a class="dropdown-item" href="/politicone/displayPayss">Visualiser Pays</a>
          <a class="dropdown-item" href="/politicone/showUpdatePays">Editer Pays</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateRegion">Ajouter Region</a>
          <a class="dropdown-item" href="/politicone/displayRegions">Voir Regions</a>
          <a class="dropdown-item" href="/politicone/showUpdateRegion">Editer  Region</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateDepartement">Ajouter Departement</a>
          <a class="dropdown-item" href="/politicone/displayDepartements">Voir  Departement</a>
          <a class="dropdown-item" href="/politicone/showUpdateDepartement">Editer  Departement</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateVille">Ajouter Villes</a>
          <a class="dropdown-item" href="/politicone/displayVilles">Voir  Ville</a>
          <a class="dropdown-item" href="/politicone/showUpdateVille">Editer  Ville</a>
        </div>
        
      </li>          			
            			
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Places 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/politicone/commande/showCreateCommune">Créer Commune</a>
          <a class="dropdown-item" href="/politicone/commande/displayCommunes">Visualiser Commune</a>
          <a class="dropdown-item" href="/politicone/commande/showUpdateCommune">Editer Commune</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateCommuneArrond">Ajouter CommuneArrond</a>
          <a class="dropdown-item" href="/politicone/displayCommuneArronds">Profil  Region</a>
          <a class="dropdown-item" href="/politicone/showUpdateCommuneArrond">Editer  Region</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateQuartier">Ajouter Quartier</a>
          <a class="dropdown-item" href="/politicone/displayQuartiers">Profil  Quartier</a>
          <a class="dropdown-item" href="/politicone/showUpdateQuartier">Editer  Quartier</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateVillage">Ajouter Villages</a>
          <a class="dropdown-item" href="/politicone/displayVillages">Profil  Village</a>
          <a class="dropdown-item" href="/politicone/showUpdateVillage">Editer  Village</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Structures 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/politicone/showCreateFederation">Créer Federation</a>
          <a class="dropdown-item" href="/politicone/displayFederations">Visualiser Federation</a>
          <a class="dropdown-item" href="/politicone/showUpdateFederation">Editer Federation</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateLigue">Ajouter Ligue</a>
          <a class="dropdown-item" href="/politicone/displayLigues">Voir Ligues</a>
          <a class="dropdown-item" href="/politicone/showUpdateLigue">Editer  Ligue</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateCommission">Ajouter Commission</a>
          <a class="dropdown-item" href="/politicone/displayCommissions">Voir  Commission</a>
          <a class="dropdown-item" href="/politicone/showUpdateCommission">Editer  Commission</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         CERCLES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/politicone/showCreateCoordination">Ajouter Coordination</a>
          <a class="dropdown-item" href="/politicone/displayCoordinations">Voir Coordination(s)</a>
          <a class="dropdown-item" href="/politicone/showUpdateCoordination">Editer Coordination(s)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateCellule">Ajouter Cellule</a>
          <a class="dropdown-item" href="/politicone/displayCellules">Profil  Cellule</a>
          <a class="dropdown-item" href="/politicone/showUpdateCellule">Editer  Cellule</a>
        </div>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link disabled dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         COMMUNICATIONS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/politicone/showCreateSMS">Creer SMS</a>
          <a class="dropdown-item" href="/politicone/displaySMSs">Voir SMS(s)</a>
          <a class="dropdown-item" href="/politicone/showUpdateSMS">Editer SMS(s)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateMail">Ajouter Cellule</a>
          <a class="dropdown-item" href="/politicone/displayMails">Profil  Cellule</a>
          <a class="dropdown-item" href="/politicone/showUpdateMail">Editer  Cellule</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         FINANCES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/politicone/showCreateDon">Faire un Don</a>
          <a class="dropdown-item" href="/politicone/displayCoordinations">Voir Don(s)</a>
          <a class="dropdown-item" href="/politicone/showUpdateCoordination">Editer Don(s)</a>
        </div>
      </li>
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


</body>
</html>