<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" >
<header>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
 integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 
</header>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Pharmog eBoutique</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><img alt="logo" src="mog.png"> <span class="sr-only">(current)</span></a>
      </li>
    
    		
    		
    		
    		
    		
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pharmog/ajouterClient">Créer Client</a>
          <a class="dropdown-item" href="/pharmog/toutClients">Visualiser Client</a>
          <a class="dropdown-item" href="/pharmog/ciblerClient">Editer Client</a>
        </div>
      </li>          
      			
            			
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Category 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pharmog/commande/ajouterCategory">Créer Category</a>
          <a class="dropdown-item" href="/pharmog/commande/toutCategorys">Visualiser Category</a>
          <a class="dropdown-item" href="/pharmog/commande/ciblerCategory">Editer Category</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produits 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pharmog/ajouterProduits">Créer Produits</a>
          <a class="dropdown-item" href="/pharmog/toutProduitss">Visualiser Produits</a>
          <a class="dropdown-item" href="/pharmog/ciblerProduits">Editer Produits</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         PRODUCTEURS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pharmog/ajouterProducteur">Ajouter Producteur</a>
          <a class="dropdown-item" href="/pharmog/toutProducteurs">Voir Producteur(s)</a>
          <a class="dropdown-item" href="/pharmog/ciblerProducteur">Editer Producteur(s)</a>
        </div>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link disabled dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         COMMUNICATIONS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pharmog/dashboard">Envoyer SMS</a>
          <a class="dropdown-item" href="/pharmog/toutSMSs">Voir SMS(s)</a>
          <a class="dropdown-item" href="/pharmog/ciblerSMS">Editer SMS(s)</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         COMMANDES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pharmog/ajouterCommande">Commander</a>
          <a class="dropdown-item" href="/pharmog/toutCommandes">Table des Commandes</a>
          <a class="dropdown-item" href="/pharmog/ciblerCommande">Editer Commande</a>
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          UTILISATEURS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/politicone/showCreateUtilisateur">Créer Utilisateur</a>
          <a class="dropdown-item" href="/politicone/displayUtilisateurs">Visualiser Utilisateur</a>
          <a class="dropdown-item" href="/politicone/showUpdateUtilisateur">Editer Utilisateur</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreateRole">Ajouter Role</a>
          <a class="dropdown-item" href="/politicone/displayRoles">Voir Roles</a>
          <a class="dropdown-item" href="/politicone/showUpdateRole">Editer  Role</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/politicone/showCreatePrivilege">Ajouter Privilege</a>
          <a class="dropdown-item" href="/politicone/displayPrivileges">Voir  Privilege</a>
          <a class="dropdown-item" href="/politicone/showUpdatePrivilege">Editer  Privilege</a>
        </div>
        
      </li>
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>


</body>
</html>